body{
  background-color:#44e7df;
  width:730px;

  }
h1{
  padding: 0.5em;
  background-color: #f50c04;
  border-bottom: solid 10px rgb(21, 150, 3)
}
div.comment{
  background-image:url("sound.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}
div.day{
  background-color:#03b95e00;
  line-height:25px;
}
div.menu{
  line-height:0.5;
}
div.daily{
  background-color: #6aaeec9c;
}
